{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": "off",
    "no-return-assign": ["off"],
    "import/prefer-default-export": ["off"],
    "react/function-component-definition": ["off"],
    "react/react-in-jsx-scope": ["off"],
    "import/order": ["off"],
    "no-shadow": "off",
    "camelcase": "off",
    "no-unused-vars": "warn",
    "react/self-closing-comp": "warn",
    "react/jsx-no-constructed-context-values": "off",
    "no-console": "off",
    "consistent-return": "off",
    "react/jsx-fragments": "off",
    "react/jsx-no-useless-fragment": "off",
    "no-bitwise": "off",
    "arrow-body-style": "off",
    "prefer-const": "off",
    "no-restricted-syntax": "off",
    "guard-for-in": "off",
    "no-await-in-loop": "off",
    "prefer-template": "off",
    "react/jsx-curly-brace-presence": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/no-array-index-key": "off",
    "object-shorthand": "off",
    "react/jsx-no-duplicate-props": "off",
    "no-nested-ternary": "off",
    "no-unsafe-optional-chaining": "off",
    "no-nonoctal-decimal-escape": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "react/no-danger": "off",
    "no-plusplus": "off",
    "no-empty": "off",
    "import/no-unresolved": "off",
    "default-param-last": "off"
  }
}
