body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App-particles__container {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}
.App-particles__container canvas {
  transition: 0.2s all ease-in-out;
  z-index: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #585858;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #1a1a1a;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #585858;
}

.ant-modal-content {
  background: black !important;
  color: white !important;
  border-radius: 14px !important;
  overflow: hidden !important;
  padding: 10px 0px !important;
  max-width: 315px !important;
  margin: 0 auto !important;
}

.ant-modal-header {
  background: black !important;
  border: unset !important;
  height: 44px !important;
  padding: 5px 20px !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: row-reverse !important;
}

.ant-modal-title {
  color: white !important;
  direction: rtl !important;
}

.ant-modal-body {
  direction: rtl !important;
  border: unset !important;
  padding: 15px 19px !important;
}

.ant-modal-footer {
  border: unset !important;
  display: flex !important;
  justify-content: space-around !important;
}

.editpen {
  font-size: 0.9rem;
  /* background: #282828; */
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 5px 10px 1px #1a1a1a; */
  bottom: 15px;
  left: 0;
  cursor: pointer;
}

.sec-title-box {
  position: relative;
}
.sec-title-box > .editpen {
  right: 0;
  left: unset;
  bottom: 3px;
}

.cropImgModal {
  top: 35px;
}
