body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  user-select: none;
  font-family: Vazir !important;
}

.App-particles__container {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}
.App-particles__container canvas {
  transition: 0.2s all ease-in-out;
  z-index: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #585858;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #1a1a1a;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #585858;
}

.ant-modal-content {
  background: black !important;
  color: white !important;
  border-radius: 14px !important;
  overflow: hidden !important;
  padding: 10px 0px !important;
  max-width: 315px !important;
  margin: 0 auto !important;
}

.ant-modal-header {
  background: black !important;
  border: unset !important;
  height: 44px !important;
  padding: 5px 20px !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: row-reverse !important;
}

.ant-modal-title {
  color: white !important;
  direction: rtl !important;
}

.ant-modal-body {
  /* direction: rtl !important; */
  border: unset !important;
  padding: 15px 19px !important;
}

.ant-modal-footer {
  border: unset !important;
  display: flex !important;
  justify-content: space-around !important;
}

.editpen {
  font-size: 0.9rem;
  /* background: #282828; */
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 5px 10px 1px #1a1a1a; */
  bottom: 15px;
  left: 0;
  cursor: pointer;
}

.sec-title-box {
  position: relative;
}
.sec-title-box > .editpen {
  right: 0;
  left: unset;
  bottom: 3px;
}

.cropImgModal {
  top: 35px;
}

.switchSign {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.signAvatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.signAvatarSelect {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  font-size: 1.6rem;
  color: #9b9b9b;
  overflow: hidden;
  object-fit: cover;
}
.signAvatarSelect > .avatar {
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.verifyCodeTitle {
  color: white;
  text-align: center;
  margin-bottom: 39px;
  font-size: 1rem;
}

.ant-statistic-content-value {
  color: white !important;
}

.ant-select-dropdown {
  background: black !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: white !important;
  background-color: #3f51b5 !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #3f51b5 !important;
  color: white !important;
}

.ant-select-item {
  color: white !important;
}

@font-face {
  font-family: Vazir;
  src: url('./assets/dist/Vazir-Regular.eot');
  src: url('./assets/dist/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/dist/Vazir-Regular.woff2') format('woff2'),
    url('./assets/dist/Vazir-Regular.woff') format('woff'),
    url('./assets/dist/Vazir-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('./assets/dist/Vazir-Bold.eot');
  src: url('./assets/dist/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/dist/Vazir-Bold.woff2') format('woff2'),
    url('./assets/dist/Vazir-Bold.woff') format('woff'),
    url('./assets/dist/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('./assets/dist/Vazir-Black.eot');
  src: url('./assets/dist/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('./assets/dist/Vazir-Black.woff2') format('woff2'),
    url('./assets/dist/Vazir-Black.woff') format('woff'),
    url('./assets/dist/Vazir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('./assets/dist/Vazir-Medium.eot');
  src: url('./assets/dist/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/dist/Vazir-Medium.woff2') format('woff2'),
    url('./assets/dist/Vazir-Medium.woff') format('woff'),
    url('./assets/dist/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('./assets/dist/Vazir-Light.eot');
  src: url('./assets/dist/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/dist/Vazir-Light.woff2') format('woff2'),
    url('./assets/dist/Vazir-Light.woff') format('woff'),
    url('./assets/dist/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('./assets/dist/Vazir-Thin.eot');
  src: url('./assets/dist/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('./assets/dist/Vazir-Thin.woff2') format('woff2'),
    url('./assets/dist/Vazir-Thin.woff') format('woff'),
    url('./assets/dist/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

.ant-timeline {
  direction: ltr;
}

.ant-input {
  background-color: unset !important;
  border: 1px solid #eeeeee17 !important;
  color: #bfbfbf !important;
  direction: ltr !important;
}

.ant-input::placeholder {
  color: #5e5e5e !important;
}

.default-scroll {
  scroll-behavior: unset !important;
}
